.component:not(:last-child) {
  margin-bottom: 32px;
}

.component h3 {
  margin-bottom: 16px;
}

.margin {
  margin-bottom: 12px;
}

.noMargin {
  margin-bottom: 0;
}

.text {
  font-family: Arial;
  font-size: 14px;
  line-height: 1.5;
}

.component p + ul {
  margin-top: -12px;
}

.component ul {
  list-style: circle;
  padding-left: 16px;
}

@media (min-width: 768px) {
  .component h3 {
    margin-bottom: 20px;
  }
  .margin {
    margin-bottom: 16px;
  }
  .text {
    font-size: 16px;
  }
  .component p + ul {
    margin-top: -16px;
  }
}
