.title {
  font-family: 'NAMU';
  font-weight: 800;
  line-height: 1.2;
  color: var(--black-color);
}

.description {
  font-family: 'Arial';
  font-weight: 400;
  line-height: 1.4;
  color: var(--black-90-color);
}

@media (max-width: 767px) {
  .title {
    font-size: 30px;
  }
  .accentTitle {
    color: var(--blue-primary-color);
  }
  .flag {
    margin-left: 12px;
    width: 44px;
    height: 24px;
  }
  .description {
    margin-top: 24px;
    font-size: 14px;
  }
  .cta {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .sliderblock {
    margin-top: 40px;
    position: relative;
    left: -16px;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .title {
    width: 551px;
    font-size: 40px;
  }
  .flag {
    margin-left: 14px;
    margin-right: 14px;
    width: 44px;
    height: 24px;
  }
  .description {
    width: 264px;
    font-size: 18px;
  }
  .cta {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .infoblock {
    display: flex;
    margin-top: 24px;
    gap: 24px;
  }
  .sliderblock {
    position: relative;
  }
}

@media (min-width: 1440px) {
  .desktopVersion {
    display: flex;
    gap: 24px;
  }
  .title {
    width: 552px;
    font-size: 58px;
  }
  .flag {
    margin-left: 24px;
    width: 90px;
    height: 45px;
  }
  .description {
    margin-top: 24px;
    margin-bottom: 40px;
    width: 552px;
    font-size: 20px;
  }
  .cta {
    margin-top: 40px;
    display: flex;
    gap: 24px;
  }
  .sliderblock {
    position: relative;
  }
}
