.header {
  border-bottom: 1px solid var(--blue-10-color);
  background-color: var(--white-color);
}

.header_block {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (min-width: 1440px) {
  .header_block {
    justify-content: space-between;
    padding: 0;
  }
}

.open {
  background-color: transparent;
}

.menu {
  width: 24px;
  height: 24px;
}

@media (min-width: 768px) {
  .menu {
    position: static;
  }
}

.link {
  margin: 0 auto;
}

@media (min-width: 1440px) {
  .link {
    margin: 0;
  }
}

.nav {
  display: flex;
  color: black;

  font-weight: bold;
  font-size: 18px;
  line-height: 100%;

  width: 690px;
  justify-content: center;
}

.nav_list {
  display: flex;
  gap: 32px;
}

.nav_link {
  display: block;
  padding-top: 41px;
  padding-bottom: 41px;
}

@media (max-width: 1339.9px) {
  .nav_link {
    background-color: none;
    display: block;
  }
  .nav_link_active {
    background-color: var(--blue-primary-color);
    display: block;
  }
  .nav_link_active * {
    color: var(--white-color);
    stroke: var(--white-color);
  }
}

@media (min-width: 1440px) {
  .header .nav_link_active {
    border-bottom: 2px solid black;
  }
  .nav_link {
    border-bottom: 2px solid transparent;
    transition: border-color var(--animation);
  }
  .nav_link:hover {
    border-bottom: 2px solid var(--border-color);
  }
}

@media (min-width: 768px) {
  .button_media {
    min-width: 168px;
  }
}

@media (min-width: 1440px) {
  .button_media {
    min-width: 208px;
    margin-left: 32px;
  }
}
