.card {
  display: block;
  width: 252px;
  background: var(--white-color);
  border-radius: 25px;
  border: 1px solid #d8e1ef;
}

.picture {
  border-radius: 24px 24px 0 0;
  overflow: hidden;
}

.block_picture {
  position: relative;
}

.text_picture {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--white-color);
  font-family: 'NAMU';
  font-size: 24px;
  font-weight: 1.4;
}

.text_block {
  width: 250px;
  padding: 16px;
  padding-top: 24px;
}

.title {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  color: var(--black-color);
}

.chamber {
  margin-top: 8px;
  font-family: 'Arial';
  font-size: 14px;
  line-height: 1.2;
  margin-top: 8px;
  color: var(--black-90-color);
}

.text {
  margin-top: 8px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: var(--black-90-color);

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .card {
    width: 552px;
  }

  .text_block {
    width: 551px;
    padding: 24px;
  }
  .title {
    display: block;
    font-size: 28px;
  }
  .chamber {
    font-size: 16px;
  }
  .text {
    font-size: 16px;
  }
  .text_picture {
    font-size: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .card {
    display: flex;
    width: 552px;
    height: 310px;

    border-radius: 25px;
    transition: box-shadow var(--animation);
  }

  .picture {
    border-radius: 24px 0 0 24px;
  }
  .card:hover {
    box-shadow: 0px 4px 20px rgba(14, 17, 28, 0.1);
  }
  .card .title {
    transition: color var(--animation);
  }

  .card:hover .title {
    color: var(--blue-primary-color);
  }

  .text_block {
    padding: 32px, 24px, 32px, 0px;
    width: 288px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .title {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
  }

  .text {
    -webkit-line-clamp: 5;
  }
}

.completed_button {
  display: flex;
  align-items: center;
  color: var(--blue-navy-color);
  background-color: transparent;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  cursor: pointer;
}
@media (min-width: 768px) {
  .completed_button {
    font-size: 16px;
  }
}
@media (min-width: 1440px) {
  .completed_button {
    font-size: 18px;
  }
}

.completed_icon {
  margin-left: 4px;
  width: 24px;
  height: 24px;
}
