.project_card {
  display: flex;
  flex-direction: column;
  background: var(--white-color);
  border: 1px solid var(--blue-10-color);
  border-radius: 25px;
  overflow: hidden;
  font-family: 'Arial';
}
.project_card:hover {
  border: 1px solid var(--blue-30-color);
  box-shadow: 0px 4px 20px rgba(14, 17, 28, 0.1);
}
.project_wrapper {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
}
.project_text_wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.project_img {
  width: 100%;
}
.project_button {
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  color: var(--blue-primary-color);
  background: none;
  border: 1px solid var(--blue-primary-color);
  border-radius: 30px;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  align-items: center;
  color: var(--blue-primary-color);
}
.project_title {
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  color: #414042;
}
.project_subTitle {
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
  text-transform: uppercase;
  color: #414042;
}

.project_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #414042;
}
.project_goal {
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
  text-transform: uppercase;
}
.project_collection {
  font-family: NAMU;
  font-size: 20px;
  font-weight: 800;
  line-height: 120%;
}
.project_button:hover {
  background-color: var(--blue-10-color);
  border-color: var(--blue-40-color);
}

@media (min-width: 768px) {
  .project_card {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .project_wrapper {
    padding: 32px 24px;
    gap: 16px;
  }
  .project_text_wrapper {
    gap: 16px;
  }
  .project_title {
    font-size: 28px;
  }
  .project_card:hover .project_title {
    color: #3a67b1;
  }
  .project_button {
    max-width: 504px;
  }
  .project_subTitle {
    font-size: 14px;
  }

  .project_text,
  .project_button {
    font-size: 16px;
  }
  .project_goal {
    font-size: 14px;
  }
  .project_collection {
    font-size: 28px;
  }
}
@media (min-width: 1440px) {
  .project_card {
    flex-direction: row;
    max-height: 488px;
  }
  .project_card:nth-child(even) {
    flex-direction: row-reverse;
  }
  .project_wrapper {
    max-width: 576px;
  }

  .project_card:nth-child(even) .project_wrapper {
    padding: 48px 96px 48px 72px;
  }
  .project_card:nth-child(odd) .project_wrapper {
    padding: 48px 72px 48px 96px;
  }

  .project_title {
    font-size: 32px;
  }
  .project_text {
    height: 123px;
  }
  .project_subTitle {
    font-size: 16px;
  }

  .project_button {
    font-size: 18px;
  }
  .project_button {
    max-width: 408px;
    height: 60px;
  }
  .project_goal {
    font-size: 16px;
  }
  .project_collection {
    font-size: 32px;
  }
  .project_goal_wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    gap: 16px;
  }
}
.project_card:hover {
  .project_img {
    transform: scale(1.1);
  }
}
