.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.currentProjectSlider {
  display: block;
  width: auto;
  height: 225px;
  border-radius: 24px 24px 0 0;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .currentProjectSlider {
    width: 552px;
    height: 313px;
    border-radius: 20px 20px 0 0;
  }
}

@media screen and (min-width: 1440px) {
  .currentProjectSlider {
    width: 766px;
    height: 486px;
    border-radius: 24px 0 0 24px;
  }
  
  .currProjSliderNavBtns {
    position: absolute;
    display: flex;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    gap: 650px;
    justify-content: center;
    margin-left: 22px;
  }

  .currProjSliderBtnPrev {
    z-index: 1;
    display: flex !important;
    width: 36px !important;
    height: 36px !important;
    border: 1px solid #d8e1ef;
    background-color: white;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .currProjSliderBtnPrev svg {
    width: 24px !important;
    height: 24px !important;
  }

    .currProjSliderBtnNext {
    z-index: 1;
    display: flex !important;
    width: 36px !important;
    height: 36px !important;
    border: 1px solid #d8e1ef;
    background-color: white;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .currProjSliderBtnNext svg {
    width: 24px !important;
    height: 24px !important;
  }
}
