.container {
  max-width: 288px;
  margin: 0 auto;
  /* padding-left: 16px;
  padding-right: 16px; */
}

@media (min-width: 768px) {
  .container {
      max-width: 552px;
    /* padding-left: 108px;
    padding-right: 108px; */
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1128px;
    /* padding-left: 156px;
    padding-right: 156px; */
  }
}
