.title {
  font-family: 'NAMU';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 140%;
  color: var(--blue-primary-color);
  max-width: 288px;
  /* margin-bottom: 32px; */
}

.position {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    color: #5C5F63;
}

.description{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #414042;
}

.photoBlock {

}

.textBlock{

}

.presidentSection{

}

@media (min-width: 768px) {

  .title {
    font-size: 30px;
    max-width: 552px;
    margin-bottom: 40px;
  }

  .description {
    font-size: 16px;
  }
  .position {
    font-size: 16px;
  }
}
@media (min-width: 1440px) {

  .title {
    font-size: 40px;
    max-width: 100%;
    margin-bottom: 80px;
  }
    .description {
        font-size: 16px;
    }
      .position {
    font-size: 18px;
  }
  .textBlock {
    width: 456px;
  }
  .presidentSection{
    display: flex;
  }
  .photoBlock {
    /* width: 552px;
    height: 508px; */
    border-radius: 24px;
  }
  .photo {
    width: 552px;
    height: 508px;
  }
}
