.section_photo_gallery {
  padding-top: 20px;
}

@media screen and (min-width: 768px) {
  .section_photo_gallery {
    padding-top: 30px;
  }
}

@media screen and (min-width: 1440px) {
  .section_photo_gallery {
    padding-top: 40px;
  }
}

.picture {
  border-radius: 25px;
  cursor: pointer;
}

.photo_gallery_title {
  margin-bottom: 32px;
}
.photo_gallery_title_span {
  color: var(--blue-primary-color);
}

@media (min-width: 768px) {
  .photo_gallery_title {
    margin-bottom: 40px;
  }
}
@media (min-width: 1440px) {
  .photo_gallery_title {
    margin-bottom: 40px;
  }
}

.div_tablet {
  height: 5px;
}

/* gallery desk */
.gallery__grides {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
}

.gallery__grid__item {
  height: 388px;
}

.gallery__grid__item:nth-child(2) {
  height: 255px;
  margin-top: -135px;
}

.gallery__grid__item:nth-child(3n + 2) {
  position: relative;
  top: 135px;
}

.gallery__grid__item:nth-child(3) {
  height: 255px;
}

.gallery__grid__item:nth-child(6) {
  position: relative;
  top: -115px;
}
/* gallery desk */

.light_box img {
  border-radius: 60px;
}
.arrow {
  width: 24px;
  height: 24px;
}

.box_arrow {
  background-color: white;
  border-radius: 50%;
  width: 48px !important;
  height: 48px !important;
  display: flex;

  border: 1px solid #d8e1ef;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
