.partners_section {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  .partners_section {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (min-width: 1440px) {
  .partners_section {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.partners_text {
  margin-bottom: 32px;
  max-width: 240px;

  @media (min-width: 768px) {
    margin-bottom: 40px;

    max-width: 552px;
  }

  @media (min-width: 1440px) {
    max-width: 648px;
  }
}

.blue_text {
  color: var(--blue-primary-color);
}

.partners_list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px 16px;

  @media (min-width: 768px) {
    gap: 16px 24px;
  }

  @media (min-width: 1440px) {
    gap: 0px 24.5px;
  }
}

.partners_item {
  border: 1px solid var(--blue-10-color);
  border-radius: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: calc((100% - 16px) / 2);
  height: 136px;

  @media (min-width: 768px) {
    border-radius: 8px;

    width: calc((100% - 48px) / 3);
    height: 126px;
  }

  @media (min-width: 1440px) {
    border-radius: 15px;

    width: calc((100% - 98px) / 5);
    height: 166px;
  }
}

.image_wrapper {
  width: 98px;
  height: 92px;

  @media (min-width: 768px) {
    width: 122px;
    height: 84px;
  }

  @media (min-width: 1440px) {
    width: 150px;
    height: 112px;
  }
}

/* .image_wrapper:hover,
.image_wrapper:focus,
.partner_img:hover,
.partner_img:focus {
  width: 104px;
  height: 96px;

  @media (min-width: 768px) {
    width: 128px;
    height: 88px;
  }

  @media (min-width: 1440px) {
    width: 158px;
    height: 118px;
  }
} */

.partners_item:hover,
.partners_item:focus {
  box-shadow: 0px 4px 5px 0px rgba(14, 17, 28, 0.1);

  @media (min-width: 768px) {
    box-shadow: 0px 2px 10px 0px rgba(14, 17, 28, 0.1);
  }

  @media (min-width: 1440px) {
    box-shadow: 0px 4px 20px 0px rgba(14, 17, 28, 0.1);
  }

  .image_wrapper,
  .partner_img {
    width: 104px;
    height: 96px;

    @media (min-width: 768px) {
      width: 128px;
      height: 88px;
    }

    @media (min-width: 1440px) {
      width: 158px;
      height: 118px;
    }
  }
}

.partner_img {
  object-fit: contain;
}
