.section {
  padding-top: 20px;
}

.box {
  margin: 0 auto;
  max-width: 744px;
}
.title {
  margin-bottom: 40px;
}
.blue {
  color: var(--blue-navy-color);
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 30px;
  }
}

@media screen and (min-width: 1440px) {
  .section {
    padding-top: 40px;
  }
}
