.first_section {
  padding-top: 104px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media screen and (min-width: 768px) {
  .first_section {
    padding-top: 156px;
  }

}

@media screen and (min-width: 1440px) {
  .first_section {
    padding-top: 182px;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
