.section {
  padding-bottom: 20px;
}

.news_title {
  margin-bottom: 32px;
}
.news_title_span {
  color: var(--blue-primary-color);
}

.button_wrapper {
  display: flex;
  justify-content: center;
}

@media (max-width: 767px) {
  .newsSliderContainer {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .section {
    padding-bottom: 30px;
  }
  .news_title {
    margin-bottom: 40px;
  }

  .button_wrapper {
    margin-top: 48px;
  }
}
@media (min-width: 1440px) {
  .section {
    padding-bottom: 40px;
  }
  .news_title {
    margin-bottom: 80px;
  }

  .button_wrapper {
    margin-top: 62px;
  }
}
