* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--white-color);
  font-family: 'Arial';
}

ol,
ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.swiper-pagination {
  left: 53.5% !important;
  width: max-content !important;
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  background-color: var(--white-color) !important;
  border: 1px solid var(--blue-primary-color) !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--blue-primary-color) !important;
}
