* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--white-color);
  font-family: 'Arial';
}

ol,
ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.swiper-pagination {
  /* left: 53.5% !important; */
  /* width: max-content !important; */
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  background-color: var(--white-color) !important;
  border: 1px solid var(--blue-primary-color) !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--blue-primary-color) !important;
}

.newsSliderBtnPrev {
  z-index: 1;
  display: flex !important;
  width: 48px !important;
  height: 48px !important;
  border: 1px solid #d8e1ef;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.newsSliderBtnPrev svg {
  width: 24px !important;
  height: 24px !important;
}

.newsSliderBtnNext {
  z-index: 1;
  display: flex !important;
  width: 48px !important;
  height: 48px !important;

  border: 1px solid #d8e1ef;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.newsSliderBtnNext svg {
  width: 24px !important;
  height: 24px !important;
}

.newsSliderContainer {
  position: relative;
  display: flex;
  justify-content: center;
}

.newsSliderNavBtns {
  display: none;
  /* position: absolute;
  display: flex;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%) ;
  gap: 1224px;
  justify-content: center; */
}

.swiper-button-disabled {
  /* position: absolute !important; */
  /* width: 1px !important;
  height: 1px !important; */
  /* margin: -1px !important; */
  border: 0 !important;
  padding: 0 !important;

  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
  visibility: hidden !important;
  pointer-events: none !important;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .newsSlider .swiper-slide {
    /* flex-shrink: 1 !important; */
  }
}

@media (max-width: 480px) {
  .newsSliderCards .swiper-slide:first-child {
    margin-left: 16px;
  }
  .newsSliderCards .swiper-slide:last-child {
    margin-right: 16px;
  }
}

@media (max-width: 767px) {
  .newsSliderContainer {
    width: 100%;
    overflow-x: scroll !important;
    justify-content: start;
    /* display: none !important;  */
    /* gap: 10px; */
  }
  .newsSliderCards {
    display: flex !important;
    gap: 16px !important;
  }

  .newsSliderCards .swiper-slide {
    width: 252px !important;
    /* margin-left: 16px;
    margin-right: 0; */
  }

  /* last changes */

  /* .newsSliderCards .swiper-slide:first-child {
    margin-left: 5%;
  } */
}

@media (min-width: 481px) and (max-width: 767px) {
  .newsSliderCards .swiper-slide:first-child {
    margin-left: calc((100vw - 480px) / 2 + 16px);
  }
  .newsSliderCards .swiper-slide:last-child {
    margin-right: calc((100vw - 480px) / 2 + 16px);
  }
}

@media screen and (min-width: 768px) {
  .newsSliderNavBtns {
    position: absolute;
    display: flex;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    gap: 612px;
    justify-content: center;
  }
}

@media screen and (min-width: 1440px) {
  .newsSliderNavBtns {
    gap: 1224px;
  }
}
