:root {
  --blue-70-color: #233e6a;
  --blue-60-color: #2e528e;
  --blue-navy-color: #3a67b1;
  --blue-40-color: #6185c1;
  --blue-30-color: #89a4d0;
  --blue-20-color: #b0c2e0;
  --blue-10-color: #d8e1ef;
  --blue-primary-color: #3a67b1;

  --aqua-color: #0097d7;
  --aqua-10-color: #cceaf7;

  --gold-color: #edbe38;

  --black-color: #0a0f29;
  --black-90-color: #414042;
  --black-80-color: #5c5f63;
  --black-60-color: #8c9096;
  --black-50-color: #a5a9b1;
  --black-30-color: #d3d9e3;
  --white-color: #ffffff;

  --border-color: #74777d;

  /* анімація */
  --animation: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
