.section_photo_gallery {
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .section_photo_gallery {
    padding-bottom: 80px;
  }
}

@media screen and (min-width: 1440px) {
  .section_photo_gallery {
    padding-bottom: 120px;
  }
}

.picture {
  border-radius: 25px;
}

.photo_gallery_title {
  font-family: 'NAMU';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 140%;
  color: var(--blue-primary-color);

  margin-bottom: 32px;
}
.photo_gallery_title_span {
  color: var(--black-color);

  display: block;
}

@media (min-width: 768px) {
  .photo_gallery_title {
    font-size: 30px;
    max-width: 552px;
    margin-bottom: 40px;
  }
  .photo_gallery_title_span {
    display: inline;
  }
}
@media (min-width: 1440px) {
  .photo_gallery_title {
    font-size: 40px;
    max-width: 100%;
    margin-bottom: 40px;
  }
}

.div_tablet {
  height: 5px;
}

/* gallery desk */
.gallery__grides {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
}

.gallery__grid__item {
  height: 388px;
}

.gallery__grid__item:nth-child(2) {
  height: 255px;
  margin-top: -135px;
}

.gallery__grid__item:nth-child(3n + 2) {
  position: relative;
  top: 135px;
}

.gallery__grid__item:nth-child(3) {
  height: 255px;
}

.gallery__grid__item:nth-child(6) {
  position: relative;
  top: -115px;
}
/* gallery desk */
