.title {
  margin-bottom: 24px;
}
.description {
  font-family: 'Arial';
  font-weight: 400;
  line-height: 1.4;
  color: var(--black-90-color);
  font-size: 14px;
  margin-bottom: 24px;
}
.accentTitle {
  color: var(--blue-primary-color);
}
.flag {
  margin-left: 12px;
  margin-right: 12px;
  width: 44px;
  height: 24px;
}
.sliderblock {
  margin-bottom: 24px;
}
.cta {
  display: flex;
  gap: 20px;
}

@media (max-width: 767px) {
  .cta {
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .flag {
    margin-left: 14px;
    margin-right: 14px;
  }
  .description {
    font-size: 18px;
    margin-bottom: 32px;
  }
  .cta {
    gap: 24px;
  }
}

@media (min-width: 1440px) {
  .desktopVersion {
    display: flex;
    gap: 120px;
  }
  .flag {
    margin-left: 24px;
    margin-right: 24px;
    width: 95px;
    height: 45px;
  }
  .description {
    font-size: 20px;
    margin-bottom: 40px;
  }
  .sliderblock {
    margin-bottom: 0px;
  }
}
