.list_currency {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.item_currency {
  position: relative;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--black-30-color);
}

.title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 19px;
}
.text {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
}

.or {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 16px;
}

.button_copy {
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 4px;
}

@media (min-width: 768px) {
  .list_currency {
    gap: 24px;
  }
  .title {
    font-size: 16px;
  }
  .item_currency {
    padding-bottom: 16px;
  }
  .text {
    font-size: 16px;
  }
  .text_correspondent {
    width: 450px;
  }
  .button_copy {
    top: auto;
    bottom: 16px;

    color: var(--blue-primary-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
  }
}

@media (min-width: 1440px) {
  .title {
    margin-bottom: 16px;
  }

  .text {
    font-size: 18px;
  }
}
