.mainBtn {
  display: inline-block;
  font-weight: 700;
  border-radius: 100px;
  padding: 15px 16px;
  border: none;
  color: var(--white-color);
  background-color: var(--blue-primary-color);
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
  text-align: center;
}



.primaryNavy {
  background-color: var(--blue-primary-color);
}

.primaryNavy:hover {
  background-color: #2E528E;
}

.primaryNavy:focus {
  background-color: #233E6A;
}

.primaryNavy:disabled {
  background-color: #8C9096;
}

.secondaryNavy {
  padding-top: 14px;
  padding-bottom: 14px;
  color: var(--blue-primary-color);
  background-color: white;
  border: 1px solid var(--blue-primary-color);
}

.secondaryNavy:hover {
  background-color: #D8E1EF;
  border: 1px solid #6185C1;
}

.secondaryNavy:focus {
  color: #3A67B1;
  background-color: #B0C2E0;
  border: 1px solid #3A67B1;
}

.secondaryNavy:disabled {
  color: #8C9096;
  background-color: none;
  border: 1px solid #8C9096;
}

.primaryBlue {
  background-color: #FFF;
  color: #3A67B1;
}

.primaryBlue:hover {
 background-color: #3A67B1;
  color: #FFF;
}

.primaryBlue:focus {
 background-color: #B0C2E0;
  color: #3A67B1;
}

.primaryBlue:disabled {
   background-color: #8C9096;
  color: #FFF;
}


.secondaryBlue {
  padding-top: 14px;
  padding-bottom: 14px;
  color: #FFF;
  background-color: white;
  border: 1px solid var(--blue-primary-color);
}

.secondaryBlue:hover {
  color: none;
  background-color: #D8E1EF;
  border: 1px solid #FFF;
}

.secondaryBlue:focus {
  color: #FFF;
  background-color: #B0C2E0;
  border: 1px solid #FFF;
}

.secondaryBlue:disabled {
  color: #8C9096;
  background-color: none;
  border: 1px solid #8C9096;
}

@media (min-width: 767px) {
  .mainBtn {
    max-width: 264px;
    font-size: 18px;
  }
}
