.project_title {
  margin-bottom: 32px;
}
.project_title_span {
  color: var(--blue-primary-color);
}
.projects_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  justify-content: center;
  margin-bottom: 32px;
}
.button_wrapper {
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .project_title {
    margin-bottom: 40px;
  }
  .projects_wrapper {
    gap: 24px;
    margin-bottom: 24px;
  }
}
@media (min-width: 1440px) {
  .projects_wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
}
