.tab_list {
  display: flex;
  overflow-x: auto;
  border-bottom: 1px solid var(--blue-10-color);
  margin-bottom: 40px;
}

.tab_list_project {
  gap: 32px;

  @media (min-width: 768px) {
    gap: 12px;
    overflow-x: hidden;
  }

  @media (min-width: 1440px) {
    gap: 16px;
  }
}

.tab_list_donation {
  justify-content: space-between;

  @media (min-width: 768px) {
    justify-content: start;
    gap: 16px;
  }
}

.tab_list::-webkit-scrollbar {
  width: 0px;
}

.button_common {
  white-space: nowrap;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  @media (min-width: 768px) {
    font-size: 16px;
  }
  @media (min-width: 1440px) {
    font-size: 18px;
  }
}

.button_common_project {
  padding: 10px 20px;
}
.button_common_donation {
  padding: 10px 20px;
}

.tab_button {
  border-bottom: 2px solid transparent;
  transition: border-color var(--animation);
  color: var(--border-color);
}

.tab_button:hover {
  border-bottom: 2px solid var(--border-color);
}

.tab_active {
  border-bottom: 2px solid var(--black-90-color);
  color: var(--black-90-color);
}
