.modal {
  background-color: white;
  color: black;
  width: 100%;
  height: 100vh;
}

.close {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.button {
  /* color: var(--white-color);
  background-color: var(--blue-navy-color);
  border-radius: 30px; */
  /* border: none; */
  padding: 8px 16px;
  width: 100px;
  /* text-align: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 100%;
  cursor: pointer;
  transition: background-color var(--animation); */
}
/* .button:focus,
.button:hover {
  background-color: var(--blue-60-color);
} */

.top_modal {
  display: grid;
  grid-template-columns: 1fr 124px 24px;
  align-items: center;
  padding: 15px 0;
}

.top_border {
  border-bottom: 1px solid var(--blue-10-color);
}

.name {
  margin-left: 38px;
}

@media (min-width: 768px) {
  .top_modal {
    padding-top: 38px;
    padding-bottom: 38px;
    grid-template-columns: 1fr 24px;
  }
  .name {
    margin-left: 12px;
  }
}

.chevron {
  width: 24px;
  height: 24px;
  stroke: var(--black-90-color);
}

.item {
  border-bottom: 1px solid var(--black-color);
}

.numbers {
  font-size: 12px;
  line-height: 120%;
  margin-top: 32px;
  margin-bottom: 46px;
}

@media (min-width: 768px) {
  .numbers {
    margin-right: 12px;
    margin-top: 30px;
    margin-bottom: 51px;
  }
}

.link {
  color: var(--black-90-color);
  font-family: 'NAMU';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 140%;
}

.link_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.link_content_one {
  display: flex;
  align-items: center;
}

.link {
  display: block;
}
