.project_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project_title {
  margin-bottom: 32px;
}
.project_title_span {
  color: var(--blue-primary-color);
}
.projects_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  justify-content: center;
}

.projects_low {
  margin-bottom: 32px;
}

.button_wrapper {
  display: flex;
  justify-content: center;
}
.projects_flag {
  width: 44px;
  height: 24px;
  margin-left: 24px;
}
@media (min-width: 768px) {
  .project_title {
    margin-bottom: 40px;
  }
  .projects_wrapper {
    gap: 24px;
  }

  .projects_low {
    margin-bottom: 24px;
  }

  .projects_link {
    font-size: 16px;
  }
  .projects_flag {
    width: 90px;
    height: 45px;
  }
}
@media (min-width: 1440px) {
  .project_section {
    align-items: flex-start;
  }
  .project_title {
    margin-bottom: 80px;
  }
  .projects_wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .projects_low {
    margin-bottom: 40px;
  }

  .projects_link {
    font-size: 18px;
  }
  .projects_flag {
    width: 90px;
    height: 45px;
  }
}
