.war_section {
  padding-top: 20px;
}
.war_title {
  margin-bottom: 32px;
}
.war_title__span {
  color: var(--blue-primary-color);
}
.war_list {
  display: grid;
  gap: 32px;
  margin-bottom: 32px;
}

@media (min-width: 768px) {
  .war_section {
    padding-top: 30px;
  }
  .war_title {
    margin-bottom: 40px;
  }
  .war_list {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 34px;
    column-gap: 24px;
    margin-bottom: 34px;
  }
}

@media (min-width: 1440px) {
  .war_section {
    padding-top: 40px;
  }
  .war_list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: none;
    gap: 24px;
    margin-bottom: 40px;
  }
}
